.containerz{
    margin: 0px 0px;
    width: 100%;
    height:90vh ;
    background-color: rgb(245,245,245);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.log_in_form_text{
    text-align: center;
    width: 70%;
    height: 200px;
    padding: 0;
    font-size: 20px;
    color: rgb(31,139,204) ;
    margin: 10px;
    text-shadow: 1px 0px 1px;
    font-weight: 200;   
     }
     .content{
        background-color: rgb(245,245,245);
        width: 80%;
        display: flex;
        display: flex;
        position: relative;
        justify-content:end;
    }
    .content_image{
        left: 0;
        width: 500px;
        height: 100%;
        background-image: url(../../ns_images/logo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover ; 
        position: absolute;
    }
    .log_in_form{
        right: 70px;
        padding: 15px;
        width: 60%;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }
    /* ////////////////////////////////////////////////// */
    .email,.password{
        font-size: 16px;
        width: 60%;
        height: 60px;
        border-radius: 5px;
        position: relative;

    }
    #email,#password{
        width: 97%;
        height: 40px;
        padding-left: 10px;
    }
    /* .password,.email {
        padding: 0;
        width: 410px;
        height: 40px;
        background-color: black;
        border-bottom:2px solid rgb(70,201,186) ;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(70,201,186);
        transition: 0.5s;
    } */
    /* //////////////////////////////////////////////////// */
    .log_in_formm div input:hover{
        border: 1px solid rgb(70,201,186);
        box-shadow: 1px 1px 2px 1px rgb(70,201,186);
    }
    #log_in_button  {
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        background-color: rgb(70,201,186);
        color:white;
        border-color: rgb(70,201,186);
        width: 400px;
        height: 40px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 6px;
        margin-left: 13px;
    }
    #log_in_button:hover{
        background-color:rgb(24, 233, 208) ;
    }
    .have_not_account{
        width: 400px;
        margin: 5px;
        text-align: end;
    }
    .have_not_account a{
        text-decoration: none;
        color:  rgb(31,139,204);
    }
    .iconpass{
        position:absolute;
        top: 17px;
        right:15px;
        cursor: pointer;
    } 

 .messages{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3;
    width: 360px;
    height: 40px;
    background-color: #fed1d6;
    color: red;
    transform: translate(0,80px);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
 }

 .restorint_pass_background_popup{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 333;
    top: 0;
    right: 0;
 }
.resorint_password_box_email_searcher{
    position: relative;
    border-radius: 6px;
    width: 400px;
    height: fit-content;
    background-color: rgb(245,245,245);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    z-index: 339999;
}

.resorint_password_box_email_searcher{
   color: rgb(31,139,204);
}
.restoring_email{
    width: 300px;
    height: 40px;
    background-color: white;
    position: relative;
    margin: 10px;
}
.restoring_email input{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    border: 1px solid rgb(31,139,204);
    transition: 0.2s;
}
.restoring_email input::placeholder{
    color: rgb(91, 89, 89)
}
.restoring_pass_buttn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    margin: 19px auto;
    background-color: rgb(31,139,204);
    color: white;
    border: 0;
    outline: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.restoring_pass_buttn:hover{
    background-color: rgb(44, 181, 223);
}
